
.grid-content {
    /* General Style */
    background-color: #00274C;
    background-image: url('../images/background.jpg');
    padding: 10px;
    width: 90%;
    text-align: center;
    font-size: 18px;
    border: 1px solid #00274C;
    border-radius: 7px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;

    /* Grid Stuff */
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.grid-content>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px;
    border: 1px solid silver;
    font-size: 30px;
}

h1 {
    text-align: center;
    margin: 30px 0px 10px 0px;
    font-size: 180%;
    font-weight: bold;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 80%;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 10px;
}

img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

a {
    color: #00274C;
}

a:visited {
    color: #2F65A7
}

a:hover {
    color: black;
}

a.standout:link,
a.standout:visited {
    background-color: #FFCB05;
    padding: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid black;
}

a.standout:hover,
a.standout:active {
    background-color: #e2b501;
}

iframe {
    width: 100%;
    display: block;
    margin: auto;
}

ul,
li {
    font-size: 18px;
    text-align: left;
    list-style-type: square;
    margin: 10px;
}

footer {
    text-align: center;
    margin: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.skip {
    position: absolute;
    top: -42px;
    left: 0;
    background: #ffffff;
    color: #333333;
}

.skip:focus {
    top: 42px;
}

.grid-nav {
    /* General Style */
    background-color: #dddddd;
    background-image: url('../images/background.jpg');
    padding: 15px;
    width: 90%;
    height: 90%;
    text-align: center;
    font-size: 150%;
    font-weight:bold;
    border: 1px solid #00274C;
    border-radius: 7px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;

    /* Grid Stuff */
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.grid-nav>div {
    padding: 5px;
}

.active {
    background-color: #FFCB05;
    border: 3px dashed black;
    border-radius: 7px;
}

.link1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    max-height: 50px;
}

.link2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    max-height: 50px;
}

.link3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    max-height: 50px;
}

.link4 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
    max-height: 50px;
}

.a1 {
    /* Span the entire first row  */
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.b1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.b2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.c1 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.c2 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}

.d1 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}

.d2 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

.e1 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
}

.e2 {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
}

.errorpage {
    grid-column: 1 / -1;
}

.frowney {
    max-height: 200px;
    width: auto;
}

/* MODAL LIGHTBOX */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 750px) {
    .grid-content {
        /* General Style */
    background-color: #00274C;
    background-image: url('../images/background.jpg');
        padding: 10px;
        width: 90%;
        text-align: center;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 7px;
        font-family: Montserrat, Arial, Helvetica, sans-serif;

        /* Grid Stuff */
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
    }

    .a1 {
        /* Span the entire first row  */
        grid-row: 1 / -1;
        grid-column: 1 / span 3;
    }

    .b1 {
        grid-row: 2 / span 1;
        grid-column: 1 / -1;
    }

    .b2 {
        grid-row: 3 / span 1;
        grid-column: 1 / -1;
    }

    .c1 {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }

    .c2 {
        grid-row: 4 / span 1;
        grid-column: 2 / -1;
    }

    .d1 {
        grid-row: 5 / span 1;
        grid-column: 1 / -1;
    }

    .d2 {
        grid-row: 6 / span 1;
        grid-column: 1 / -1;
    }

    .e1 {
        grid-row: 7 / span 1;
        grid-column: 1 / 1;
    }

    .e2 {
        grid-row: 7 / span 1;
        grid-column: 2 / -1;
    }
}